appdirs==1.4.3
BeautifulSoup==3.2.1
fuzzywuzzy==0.15.0
lxml==3.7.3
packaging==16.8
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
appdirs==1.4.3
BeautifulSoup==3.2.1
fuzzywuzzy==0.15.0
lxml==3.7.3
numpy==1.12.1
packaging==16.8
pandas==0.19.2
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
